body{
    margin:0 0 0 0;
    background-color: #377037; 
    display: flex;
    flex-direction: column;
}
.CBellaLogo{
    height: 80px;
    width: auto;
    margin: 0 2.5% 0 2.5%;
}
nav{
    display: flex;
    justify-content: center;
}
.headerBtnsDiv{
    display: flex;
    align-items: center;;
    height: 100px;
    width: 70%;
    gap: 8px;
    background-color:#002E56;
}
.headerBtnsGroup{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
.headerBtns{
    color: #a19d84;
    transition-duration: 0.3s;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    padding: 1rem;
    height: 70px;
    width: 100px;
}
.headerBtns:hover{
    color: #002E56;
    border: 5px solid #7FB133; 
}
.midContent{
    background-color: #d2d2ba;
    width: 70%;
    display:flex;
    flex-direction: column;
    align-self: center;
    justify-items: center;
    align-items:baseline;
    
}

.midLayer1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 0 0 0;
}

.imgScroller{
    height: 300px;
    width: 35%;
    border: 5px solid black;
}

.companyDesc{
    height: 300px;
    width: 40%;
    border: 5px solid maroon;
}

.midLayer2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 0 0 0;
}

.customerReviews{
    height: 300px;
    width: 40%;
    border: 5px solid green;
}

.facebookBox{
    height: 300px;
    width: 35%;
    border: 5px solid teal;
}